@{
    ViewData["Title"] = "Página Inicial";
    Layout = "_Layout";
}
<div class="tela-inicial">
    <div class="texto">
        <h1>Bem-vindo ao Jogue Junto</h1>
        <p>Organize partidas de vôlei e tênis de mesa com facilidade!</p>
    </div>
    <div>
        <h1>Sobre nós</h1>
    </div>
    <p>
        O JogueJunto é uma plataforma dedicada à organização de partidas esportivas em equipe. Nosso propósito é simples:
        incentivar a prática de esportes, promovendo a união de pessoas apaixonadas por atividades esportivas. Através da nossa
        aplicação, você pode encontrar facilmente partidas de vários esportes, criar suas próprias equipes e fazer parte de uma
        comunidade que compartilha o amor pelo jogo. JogueJunto é o seu destino para unir paixões e criar partidas memoráveis.
    </p>
</div>