@{
    ViewData["Title"] = "Criar partida Vôlei";
    Layout = "_Layout";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voleibol</title>
    <link rel="stylesheet" type="text/css" href="~/css/pagina-escolha.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--script-menu lateral-->
    <script src="js/menu.js" defer></script>
</head>

<main>
    <div class="contanier">
        <div class="organizar-volei">
            <h2>Partida de Vôlei</h2>
            <form>
                <label for="inputNome">Nome da Partida</label>
                <input type="text" id="nome-partida" placeholder="Nome da Partida">

                <label for="inputNome">Nome dos atletas</label>
                <textarea id="nomesInput" rows="3" cols="12" required placeholder="Nomes dos Atletas">
                    </textarea>

                <label for="inputNome">Regras Específicas</label>
                <input type="text" id="regras-volei" placeholder="Regras Específicas">

                <label for="inputNome">Número de jogadores</label>
                <input type="number" id="nomesPorTabela" placeholder="Número de Jogadores">

                <label for="inputNome">Data</label>
                <input type="date" id="data-volei" placeholder="Data">

                <label for="inputNome">Hora</label>
                <input type="time" id="hora-volei" placeholder="Hora">

                <label for="inputNome">Local</label>
                <input type="text" id="local-volei" placeholder="Local">
                <div class="button">
                    <button onclick="organizarPartida()">Organizar Partida</button>
                </div>
            </form>
        </div>
    </div>
</main>

<script>
    function organizarPartida() {
        const nomePartida = document.getElementById('nome-partida').value;
        const nomesInput = document.getElementById('nomesInput').value;
        const regrasVolei = document.getElementById('regras-volei').value;

        const numeroDeJogadoresPorTime = parseInt(document.getElementById('nomesPorTabela').value);
        const dataVolei = document.getElementById('data-volei').value;
        const horaVolei = document.getElementById('hora-volei').value;
        const localVolei = document.getElementById('local-volei').value;

        const nomesArray = nomesInput.split('\n').map(nome => nome.trim()).filter(Boolean);

        const tabelaPrincipal1 = document.createElement('table');
        tabelaPrincipal1.className = 'tabela';
        const tabelaPrincipal2 = document.createElement('table');
        tabelaPrincipal2.className = 'tabela';

        for (let i = 0; i < nomesArray.length; i++) {
            const nome = nomesArray[i];
            const tabelaAtual = i % 2 === 0 ? tabelaPrincipal1 : tabelaPrincipal2;

            const celula = tabelaAtual.insertRow().insertCell();
            celula.textContent = nome;
        }

        // Passa os dados para a página de resultado
        window.location.href = `partida.html?tabela1=${tabelaPrincipal1.outerHTML}&tabela2=${tabelaPrincipal2.outerHTML}&nomePartida=${nomePartida}&regrasVolei=${regrasVolei}&dataVolei=${dataVolei}&horaVolei=${horaVolei}&localVolei=${localVolei}`;

    }
</script>
